[Unit]
Description=Deploy %i!

[Service]
WorkingDirectory=%h/deploy/%i
ExecStart=sh -c "echo run deploy cmd: $$DEPLOY_CMD; exec $$DEPLOY_CMD"
EnvironmentFile=%h/deploy/%i/deploy.env

[Install]
WantedBy=deploy.target
