[Unit]
Description=On failure of %i deployment!

[Service]
WorkingDirectory=%h/deploy/%i
ExecStart=%h/deploy/%i/on-failure
EnvironmentFile=%h/deploy/%i/env

[Install]
WantedBy=deploy.target
