{{ansible_managed|comment}}

[Unit]
Description=Handle %i deployment success!

[Service]
WorkingDirectory=%h/deploy/%i
{% for cmd in deploy_systemd_units_success_handler_commands %}
ExecStart={{cmd}}
{% endfor %}
ExecStart=-%h/deploy/%i/success-handler
EnvironmentFile=%h/deploy/%i/env
Type=oneshot

[Install]
WantedBy=deploy.target
