{{ansible_managed|comment}}

[Unit]
Description=Deploy %i!
{% if deploy_systemd_units_success_handler_commands %}
OnSuccess=deploy-success-handler@%i.service
{% endif %}
{% if deploy_systemd_units_failure_handler_commands %}
OnFailure=deploy-failure-handler@%i.service
{% endif %}

[Service]
WorkingDirectory={{deploy_systemd_units_instance_path}}
ExecStartPre=-{{deploy_systemd_units_instance_path}}/deploy.init
ExecStart={{deploy_systemd_units_instance_path}}/deploy
EnvironmentFile={{deploy_systemd_units_instance_path}}/deploy.env
{% if deploy_systemd_units_scope == 'system' %}
User=$USER
Group=$GROUP
{% endif %}

[Install]
WantedBy=deploy.target
