{{ansible_managed|comment}}

[Unit]
Description=Deploy %i when deployment files change!

[Path]
PathChanged={{deploy_systemd_units_instance_path}}/
TriggerLimitIntervalSec=60
TriggerLimitBurst=60
Unit=deploy@%i.service
