[Unit]
Description=Handle %i deployment failure!

[Service]
WorkingDirectory=%h/deploy/%i
{% for cmd in deploy_systemd_units_failure_handler_commands %}
ExecStart={{cmd}}
{% endfor %}
ExecStart=-%h/deploy/%i/failure-handler
EnvironmentFile=%h/deploy/%i/env

[Install]
WantedBy=deploy.target
