{{ansible_managed|comment}}

[Unit]
Description=Deploy %i!

[Service]
WorkingDirectory={{deploy_systemd_units_instance_path}}
ExecStartPre={{deploy_systemd_units_instance_path}}/deploy.init
ExecStart=/etc/deploy/run.sh %i
ExecStopPost=/etc/deploy/notify.sh "%H" "%i" "${EXIT_STATUS}" "/run/deploy/%i.out"
EnvironmentFile={{deploy_systemd_units_instance_path}}/deploy.env
{% if deploy_systemd_units_scope == 'system' %}
User=$USER
Group=$GROUP
{% endif %}

[Install]
WantedBy=deploy.target
