[Unit]
Description=On success of %i deployment!

[Service]
WorkingDirectory=/etc/deploy/%i
ExecStart=/etc/deploy/%i/on-success
EnvironmentFile=/etc/deploy/%i/env
Type=oneshot

[Install]
WantedBy=deploy.target
